{% extends 'index.html' %}

{% block nav %}
    {% include "navbar.html" %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="wrapper" id="top" style="">
        <div class="row section-header">
            <h2>Blog</h2>
            <p>A list of all my blog posts!</p>
        </div>

        <!-- Post One -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h4>Coming soon</h4>
{#                    <h4><a href="{% url 'post1' %}">Why I believe everybody should be engaged in some kind of physical exercise</a><small> 12/01/2016</small></h4>#}
{#                    <h4><a href="{% url 'post2' %}">The one thing I learnt in university</a><small> 20/01/2016</small></h4>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
