{% extends 'home.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block nav %}
    <!-- Nav -->
        <nav id="nav">
            <ul class="container">
                <li><a href="/"> Go Back to Frontpage</a></li>
            </ul>
    </nav>
{% endblock %}

{% block content %}
    <!-- Contact -->
        <div class="wrapper style4" style="padding-bottom: 20px;">
            <article id="contact" class="container 75%">
                <header>
                    <h2>Leave me message!</h2>
                    <p>You can use the form below to get in touch with me.</p>
                </header>
                <form name="container" method='post' action='/contact/'>{% csrf_token %}
                    {{ form|crispy }}
                    <input type='submit' value='Send' id="send" href="{% url 'home' %}/#container">
                </form>
            </article>
        </div>
{% endblock %}

{% block footer %}
{% endblock %}



