{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <!-- Contact -->
    <div class="container">
        <div class="section-header">
            <h3>Contact</h3>
        </div>
        <div class="container">
            <h4>Get in touch with me:</h4>
            <a href="mailto:mail.stanislav.frolov@gmail.com" target="_blank" class="fa fa-envelope-square fa-2x" style="text-decoration: none"></a>
            <a href="https://www.linkedin.com/in/stanislav-frolov-379090105" target="_blank" class="fa fa-linkedin-square fa-2x" style="text-decoration: none"></a>
            <a href="https://github.com/stanifrolov" target="_blank" class="fa fa-github fa-2x" style="text-decoration: none"></a>
            <a href="https://www.facebook.com/stani.frolov" target="_blank" class="fa fa-facebook-square fa-2x" style="text-decoration: none"></a>
            <a href="https://www.instagram.com/staninst/" target="_blank" class="fa fa-instagram fa-2x" style="text-decoration: none"></a>

            <h4>Send me an email via this form:</h4>
            <div class="row">
                <div class="col-md-8">
                    <form method='POST' action=''>{% csrf_token %}
                        {{ form|crispy }}
                        <input type='submit' class="btn" value='Send' href="{% url 'home' %}/#container">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
