{% load staticfiles %}

<div class="container" id="top">
    <div class="row">
        <div class="col-md-4">
            <h1><span><img id="img-profile" src="{% static 'images/Stanislav_Frolov.JPG' %}" class="img-responsive" alt="" /></span></h1>
        </div>
        <div class="col-md-8">
            <h1>Hi, I'm <strong>Stanislav Frolov</strong></h1>
            <h2>Nice to meet you!</h2>
            <p>I am {{ age }} years old and presently live in Karlsruhe, Germany. I am a student at the Karlsruhe Institute of Technology and currently enrolled into a master program for Electrical Engineering and Information Technologies. My study model is optical communication technology.<br></p>
            <p>I have a strong passion for software engineering and I'm curious about developing clean, robust and maintainable code.<br></p>
            <p>This website shall give you some information about my education, work experience and side projects. If you just want to leave me a message you can <a href="{% url 'contact' %}">contact me here!</a></p>
            <p>Otherwise lets start with my <a href="{% url 'education' %}">education timeline.</a></p>
        </div>
    </div>
</div>