{% load staticfiles %}
{% load crispy_forms_tags %}

<!DOCTYPE HTML>

<html>
	<head>
		<title>Stanislav Frolov</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="{% static 'images/favicon/sf.ico' %}">
{#		<link rel="stylesheet" href="{% static 'css/main.css' %}" />#}
{#		<link rel="stylesheet" href="{% static 'css/ie8.css' %}" />#}
{#		<link rel="stylesheet" href="{% static 'css/ie9.css' %}" />#}
		<link rel="stylesheet" href="{% static 'css/timeline.css' %}" />
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
{#		<link rel="stylesheet" href="{% static 'css/highlight.css' %}" />#}
		<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
		<link rel="stylesheet" href="{% static 'css/myStyles.css' %}" />
	</head>

	<body>
    {% block nav %}
        <!-- Nav -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="#top" class="scrolly">Home</a></li>
                <li><a href="#timeline" class="scrolly">Education</a></li>
                <li><a href="#work" class="scrolly">Work</a></li>
                <li><a href="#portfolio" class="scrolly">Side Projects</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="https://www.instagram.com/staninst/" class="fa fa-instagram fa-2x"></a></li>
                <li><a href="https://www.linkedin.com/in/stanislav-frolov-379090105" class="fa fa-linkedin-square fa-2x"></a></li>
                <li><a href="https://github.com/stanislavfrolov92" class="fa fa-github fa-2x"></a></li>
                <li><a href="https://www.facebook.com/stani.frolov" class="fa fa-facebook-square fa-2x"></a></li>
              </ul>
            </div>
          </div>
        </nav>
    {% endblock %}

    {% block content %}
		<!-- Home -->
			<div class="container" id="top">
					<div class="row">
						<div class="col-md-4">
							<span><img id="img-profile" src="{% static 'images/Stanislav_Frolov.JPG' %}" class="img-responsive" alt="" /></span>
						</div>
						<div class="col-md-8">
                            <h1>Hey, <strong>Stanislav Frolov</strong> here!</h1>
                            <h2>Nice to meet you!</h2>
                            <p>I am 23 years old and presently living in Karlsruhe, Germany. I am currently enrolled into a master program for Electrical Engineering and Information Technoligies at the Karlsruhe Institute of Technology. My model is Optical Communication Technology.<br></p>
							<p>I created this website to give you some information about my education, work experience and side projects I am engaged in. If you just want to leave me a message you can skip the content and <a href="{% url 'contact' %}">contact me here!</a></p>
                            <p>Otherwise lets start with my education timeline!
                            </p>
                        </div>
					</div>
			</div>

        <!-- Timeline -->
            <div class="wrapper" id="timeline">
                <div class="row content">
                    <h2>Education</h2>
                    <p>Just a short timeline about my education.</p>
                </div>
                    <div class="container">
                        <ul class="timeline">
                            <li>
                              <div class="timeline-badge"><i class="glyphicon glyphicon-log-in"></i></div>
                              <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <h4 class="timeline-title">Hello World!</h4>
                                  <p><small class="text-muted">01/01/1992</small></p>
                                </div>
                                <div class="timeline-body">
                                  <p>I was born in <a href="https://www.google.com/maps/place/Kant,+Kyrgyzstan/">Kant, Kyrgyzstan</a>, which is a very small country in the former UDSSR. Most people do not know where that country is, so i most often tell them to imagine Kazakhstan and Kyrgzstan is the very first neigbhor on the right hand side. Hence, my mothertongue is <strong>russian</strong>.</p>
                                </div>
                              </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge warning"><i class="glyphicon glyphicon-send"></i></div>
                              <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <h4 class="timeline-title">Welcome to Germany!</h4>
                                  <p><small class="text-muted">12/1993</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>In this cold winter we took a week long ride on the train through Moscow to move to Germany. This was only possible due to my family's roots which are half <strong>german</strong>. Since I was very young when we moved to germany I grew up bilingual.</p>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="timeline-badge danger"><i class="glyphicon glyphicon-book"></i></div>
                              <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <h4 class="timeline-title">School is fun, they said.</h4>
                                  <p><small class="text-muted">09/2003</small></p>
                                </div>
                                <div class="timeline-body">
                                  <p>I went to the basic primary school <a href="https://www.google.com/maps/place/Eichendorff-Schule+Offenburg/">Eichendorff-Schule-Offenburg</a>. Four years later I transitioned to the <a href="https://www.google.com/maps/place/Schiller+Gymnasium+Offenburg/">Schiller-Gymnaisum-Offenburg</a>. After 9 years I finished with the general qualification for university entrance.</p>
                                </div>
                              </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge success"><i class="glyphicon glyphicon-edit"></i></div>
                              <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <h4 class="timeline-title">Electrical Engineering and Information Technologies.</h4>
                                  <p><small class="text-muted">10/2011 - now</small></p>
                                </div>
                                <div class="timeline-body">
                                  <p>Directly after finishing school I started studying EE at the <a href="https://www.kit.edu/english">Karlsruhe Institute of Technology</a>. Afterwards I continued my studies in a master program with a strong focus in Optical Communication Technology.</p>
                                </div>
                              </div>
                            </li>
                        </ul>
                    </div>
                <div class="row footer">
                    <p>Let me tell you about my technical work experience!</p>
                    <a href="#work" class="btn btn-default fa fa-arrow-down scrolly" role="button"></a>
                </div>
            </div>

		<!-- Work -->
			<div class="wrapper"  id="work">
				<div class="row content">
                    <h2>Technical Work Experience</h2>
                    <p>A list of all technical work experience.</p>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <section class="box-style">
                                <span class="fa fa-car fa-5x"></span>
                                <h3><a href="https://www.invenio.net/en/home/">invenio Engineers Karlsruhe GmbH</a></h3>
                                <p><small class="text-muted">2013-2014</small></p>
                                <p><strong>Working student</strong> on an electric 1:5 car demonstrator controlled by Arduino microcontroller and Android App.</p>
                                <footer>C/C++, Java, design and implementation of hard-/software to control modules like steering, brakes, engine, distance sensors and light.</footer>
                            </section>
                        </div>
                        <div class="col-md-3">
                            <section class="box-style">
                                <span class="fa fa-cogs fa-5x"></span>
                                <h3><a href="https://www.kit.edu/english/">Karlsruhe Institute for Technology</a></h3>
                                <p><small class="text-muted">2014-2015</small></p>
                                <p><strong>Tutor</strong> for a C/C++ laboratory at the <a href="http://www.itiv.kit.edu/english/index.php">ITIV</a>. Students learn in groups how to design algorithms to control a Segway and implement the software.</p>
                                <footer>Low-level programming such as GPIO, PWM and ADCs to control engines, sensors, battery and other inputs.</footer>
                            </section>
                        </div>
                        <div class="col-md-3">
                            <section class="box-style">
                                <span class="fa fa-university fa-5x"></span>
                                <h3><a href="https://www.kit.edu/english/">Karlsruhe Institute for Technology</a></h3>
                                <p><small class="text-muted">2014-2015</small></p>
                                <p><strong>Bachelor thesis</strong> at the <a href="https://www.ipq.kit.edu/">IPQ</a> about automated optical SNR measurement and system characterization. Have a look at my <a href="https://drive.google.com/file/d/0B5BOoOTpHys7SjU2d2ZDdzdpVmM/preview">final talk</a> and <a href="https://drive.google.com/file/d/0B5BOoOTpHys7bVdMUFEyRldvQlU/preview">full thesis</a>.</p>
                                <footer>Build software and setup to perform the automated task. MATLAB, LabView and work with optical communication devices.</footer>
                            </section>
                        </div>
                        <div class="col-md-3">
                            <section class="box-style">
                                <span class="fa fa-code fa-5x"></span>
                                <h3><a href="https://www.fzi.de/en/home/">Research Center for Information Technology</a></h3>
                                <p><small class="text-muted">2015-now</small></p>
                                <p><strong>Web Development</strong> of a platform for demonstrators and applications to illustrate projects and filter for different properties.</p>
                                <footer>Design and implementation of software using Python, Django, HTML, CSS, JavaScript and jQuery.</footer>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="row footer">
                    <p>I am also engaged in a couple side projects!</p>
                    <a href="#portfolio" class="btn btn-default fa fa-arrow-down scrolly" role="button"></a>
                </div>
			</div>

		<!-- Portfolio -->
			<div class="wrapper"  id="portfolio">
                <div class="row content">
                    <h2>Side Projects</h2>
                    <p>A list of the most recent projects I am engaged in.</p>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <section class="box-style">
                                <a class="image-featured" href="https://www.facebook.com/crossfit227/"><img src="{% static 'images/cf227.jpg' %}" class="img-responsive" alt="" /></a>
                                <h3><a href="http://www.crossfit227.com">Crossfit 227</a></h3>
                                <p>Major <a href="https://www.youtube.com/watch?v=tzD9BkXGJ1M">Crossfit</a> Box in Karlsruhe will help you to become strong, fit and healthy while having a lot of fun. Our amazing community supports each other.</p>
                                <footer>Athlete and Coach</footer>
                            </section>
                        </div>
                        <div class="col-md-3">
                            <section class="box-style">
                                <a class="image-featured" href="https://www.facebook.com/wearnepra/"><img src="{% static 'images/nepra.jpg' %}" class="img-responsive" alt=""/></a>
                                <h3><a href="http://www.wearnepra.com">Népra</a></h3>
                                <p>Finish holistic, minimalist and ethical active wear brand based in Lahti, Finland. High quality products from Italian materials are crafted in Estionia.</p>
                                <footer>Technical Support</footer>
                            </section>
                        </div>
                        <div class="col-md-3">
                            <section class="box-style">
                                <a class="image-featured"><img src="{% static 'images/personal.jpg' %}" class="img-responsive" alt="" /></a>
                                <h3>Growth</h3>
                                <p>I am daily trying to improve in different aspects of life and become a stronger version of myself. By that I do not only mean physical  but also mental strength and health.</p>
                                <footer>Exercise, Reading, Meditation</footer>
                            </section>
                        </div>
                    </div>
                    <div class="row footer">
                        <p>Get in touch with me!</p>
                        <a href="{% url 'contact' %}" class="btn btn-default scrolly" role="button">Contact</a>
                    </div>
                </div>
            </div>
    {% endblock %}

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/skel-viewport.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/ie/respond.min.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
		    <script src="{% static 'js/ie/html5shiv.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>

	</body>
</html>