{% load staticfiles %}
{% load crispy_forms_tags %}

<!DOCTYPE HTML>

<html>
	<head>
		<title>Stanislav Frolov</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="{% static 'images/favicon/sf.ico' %}">
        {% include "css.html" %}
	</head>

	<body>

    {% block nav %}
        <!-- Nav -->
            <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav">
                    <li><a href="#top" class="scrolly">Home</a></li>
                    <li><a href="#timeline" class="scrolly">Education</a></li>
                    <li><a href="#work" class="scrolly">Work</a></li>
                    <li><a href="#portfolio" class="scrolly">Side Projects</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                  </ul>
                </div>
              </div>
            </nav>

        {% include "sidebar.html" %}
    {% endblock %}

    {% block content %}
		<!-- Home -->
			{% include "home.html" %}

        <!-- Timeline -->
			{% include "timeline.html" %}

		<!-- Work -->
			{% include "work.html" %}

		<!-- Side Projects -->
            {% include "side_projects.html" %}
    {% endblock %}

		<!-- Scripts -->
			{% include "scripts.html" %}

	</body>
</html>