    <!-- Nav -->
          <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}#top" class="scrolly">Home</a></li>
                <li><a href="{% url 'home' %}#timeline" class="scrolly">Education</a></li>
                <li><a href="{% url 'home' %}#work" class="scrolly">Work</a></li>
                <li><a href="{% url 'home' %}#portfolio" class="scrolly">Side Projects</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="https://www.instagram.com/staninst/" class="fa fa-instagram fa-2x"></a></li>
                <li><a href="https://www.linkedin.com/in/stanislav-frolov-379090105" class="fa fa-linkedin-square fa-2x"></a></li>
                <li><a href="https://github.com/stanislavfrolov92" class="fa fa-github fa-2x"></a></li>
                <li><a href="https://www.facebook.com/stani.frolov" class="fa fa-facebook-square fa-2x"></a></li>
              </ul>
            </div>
          </div>
        </nav>