{% load static %}

<!-- Side Projects -->
<div class="container" id="sideprojects">
    <div class="section-header">
        <h3>Side Projects</h3>
    </div>
    <div class="container">
        <a href="http://www.crossfit227.com" target="_blank">Crossfit 227</a>
        <p>Major <a href="https://www.youtube.com/watch?v=tzD9BkXGJ1M" target="_blank">Crossfit</a> Box in Karlsruhe will help you to become strong, fit and healthy while having a lot of fun. Our amazing community supports each other.</p>
        <p>Athlete and Coach</p>
        <br>

        <a href="http://www.wearnepra.com" target="_blank">Népra</a>
        <p>Finnish holistic, minimalist and ethical active wear brand based in Lahti, Finland. High quality products from Italian materials are crafted in Estionia.</p>
        <p>Technical Support</p>
        <br>

        <p>Growth</p>
        <p></p>
        <p>Exercise, Reading, Meditation</p>
        <br>
    </div>
</div>

