{% extends 'index.html' %}
{% load staticfiles %}

{% block nav %}
    {% include "navbar.html" %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
    <!-- Side Projects -->
        <div class="container">
            <div class="section-header">
                <h2>Side Projects</h2>
            </div>
            <div class="container">
                <h3><a href="http://www.crossfit227.com" target="_blank">Crossfit 227</a></h3>
                <p>Major <a href="https://www.youtube.com/watch?v=tzD9BkXGJ1M" target="_blank">Crossfit</a> Box in Karlsruhe will help you to become strong, fit and healthy while having a lot of fun. Our amazing community supports each other.</p>
                <p>Athlete and Coach</p>

                <hr style="border-bottom: 1px solid;">

                <h3><a href="http://www.wearnepra.com" target="_blank">Népra</a></h3>
                <p>Finnish holistic, minimalist and ethical active wear brand based in Lahti, Finland. High quality products from Italian materials are crafted in Estionia.</p>
                <p>Technical Support</p>

                <hr style="border-bottom: 1px solid;">

                <h3>Growth</h3>
                <p>I am daily trying to improve in different aspects of life and become a stronger version of myself. Physical and mental strength and health are very important for me.</p>
                <p>Exercise, Reading, Meditation</p>
            </div>
        </div>
{% endblock %}

