<!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav navbar-inverse">
            <li><a href="mailto:mail.stanislav.frolov@gmail.com" target="_blank" class="fa fa-envelope-square fa-2x"></a></li>
            <li><a href="https://www.linkedin.com/in/stanislav-frolov-379090105" class="fa fa-linkedin-square fa-2x"></a></li>
            <li><a href="https://github.com/stanislavfrolov92" class="fa fa-github-square fa-2x"></a></li>
            <li><a href="https://www.facebook.com/stani.frolov" class="fa fa-facebook-square fa-2x"></a></li>
            <li><a href="https://www.instagram.com/staninst/" class="fa fa-instagram fa-2x"></a></li>
          </ul>
    </div>