{% load staticfiles %}

<!-- Work -->
<div class="container">
    </div>
<div class="container" id="work">
    <div class="section-header">
        <img id="img-profile" src="{% static 'images/work.png' %}" class="img-responsive" alt=""/>
        <h3>Technical Work Experience</h3>
    </div>

    <div class="container">

        <a href="https://www.kit.edu/english/" target="_blank">Karlsruhe Institute of Technology</a>
        <p><strong>Master Thesis</strong>   <small class="text-muted">05/17 - 11/17</small></p>
        <p>at the <a href="https://www.itiv.kit.edu/" target="_blank">ITIV</a> on deep recurrent neural networks for multiple object tracking. Slides and thesis available upon request.</p>
        <p>Extended a detection framework into the spatiotemporal domain by using ConvLSTM.</p>
        <p>Technologies: Python, TensorFlow</p>
        <br>

        <a href="https://www.inovex.de/de" target="_blank">inovex GmbH</a>
        <p><strong>Software Engineering Working Student</strong>   <small class="text-muted">12/16 - 11/17</small></p>
        <p>in the Data Management & Analytics team. Developed a big data cloud platform on Kubernetes, various applications and a command-line interface. <a href="https://github.com/inovex/open-kubeyard" target="_blank">Kubeyard</a> is open-source!</p>
        <p>Technologies: Google Cloud, Kubernetes, Docker, Helm, Java, Go, Python</p>
        <br>

        <a href="https://www.daimler.com/de/" target="_blank">Daimler AG</a>
        <p><strong>Software Engineering Working Student</strong>   <small class="text-muted">10/16 - 11/16</small></p>
        <p>in the R&D Future Innovations team. Built a program to download Twitter tweets. Developed an Android survey app. Created a program to retrieve Fitbit data. Research topics included health, mobility, big data, machine learning, artificial intelligence and artificial neural nets.</p>
        <p>Technologies: Python, Java, Android</p>
        <br>


        <a href="https://www.keysight.com" target="_blank">Keysight Technologies</a>
        <p><strong>Software Engineering Intern</strong>   <small class="text-muted">04/16 - 08/16</small></p>
        <p>in the R&D Network and Data Center Solutions team. Developed search algorithms to solve an inversion problem in MATLAB and added this feature to the Optical Modulation Generator Software, which generates signals for transmission test. Replaced the random parameter setting, which results in full control over the polarization mode dispersion model.</p>
        <p>Technologies: MATLAB</p>
        <br>


        <a href="https://www.fzi.de/en/home/" target="_blank">Research Center for Information Technology</a>
        <p><strong>Software Engineering Working Student</strong>   <small class="text-muted">12/15 - 03/16</small></p>
        <p>in the Research for Information Process Engineering team. Worked on a platform for demonstrators and applications to illustrate projects and to filter by different properties.</p>
        <p>Technologies: Python, Django, HTML, CSS, JavaScript.</p>
        <br>


        <a href="https://www.kit.edu/english/" target="_blank">Karlsruhe Institute of Technology</a>
        <p><strong>Bachelor Thesis</strong>   <small class="text-muted">11/14 - 05/15</small></p>
        <p>at the <a href="https://www.ipq.kit.edu/" target="_blank">IPQ</a> on automated optical SNR measurement and system characterization. Slides and thesis available upon request.</p>
        <p>Build software and setup to perform the automated task.</p>
        <p>Technologies: LabVIEW, MATLAB</p>
        <br>


        <a href="https://www.kit.edu/english/" target="_blank">Karlsruhe Institute of Technology</a>
        <p><strong>Programming Tutor</strong>   <small class="text-muted">10/14 - 03/15</small></p>
        <p>at the <a href="http://www.itiv.kit.edu/english/index.php" target="_blank">ITIV</a>. Supervised groups of students to learn how to design and implement software to control a Segway.</p>
        <p>Technologies: C++</p>
        <br>

        <a href="https://www.invenio.net/en/home/" target="_blank">invenio Engineers Karlsruhe GmbH</a>
        <p><strong>Software Engineering Working Student</strong>   <small class="text-muted">10/13 - 08/14</small></p>
        <p>in the Embedded Systems team. Supported the development of a simulation software to test the output of an LCD display. Built Arduino software to for a 1:5 scale electric car model. Developed an Android app to control it via Wi-Fi.</p>
        <p>Technologies: C++, Java, Android</p>

    </div>
</div>