{% extends 'index.html' %}
{% load staticfiles %}

{% block nav %}
    {% include "navbar.html" %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
    <!-- Work -->
        <div class="container">
            <div class="section-header">
                <h2>Technical Work Experience</h2>
            </div>
            <div class="container">
                <table style="width:100%;">
                  <tr>
                    <th><a href="https://www.keysight.com" target="_blank">Keysight Technologies</a></th>
                    <td  align="right"><span><img id="img-work" src="{% static 'images/keysight-logo.png' %}" class="img-responsive" alt="" /></span></td>
                  </tr>
                </table>
                <p><small class="text-muted">04/16 - 08/16</small></p>

                <p><strong>Application and Instrument Software Engineering Intern</strong> in the Digital Photonic Test Division team. Implemented new features for the Optical Modulation Generator Software to emulate polarization mode dispersion from a multi-dimensional model in MATLAB.</p>
                <p>Driving the design by using test-driven development, short feedback loops and a strong use case focus.</p>

                <hr style="border-bottom: 1px solid;">
                <table style="width:100%">
                  <tr>
                    <th><a href="https://www.fzi.de/en/home/" target="_blank">Research Center for Information Technology</a></th>
                    <td  align="right"><span><img id="img-work" src="{% static 'images/fzi-logo.png' %}" class="img-responsive" alt="" /></span></td>
                  </tr>
                </table>

                <p><small class="text-muted">12/15 - 03/16</small></p>
                <p><strong>Web Development</strong> of a platform for demonstrators and applications to illustrate projects and filter for different properties.</p>
                <p>Design and implementation of software using Python, Django, HTML, CSS, JavaScript and jQuery.</p>

                <hr style="border-bottom: 1px solid;">

                <table style="width:100%">
                  <tr>
                    <th><a href="https://www.kit.edu/english/" target="_blank">Karlsruhe Institute for Technology</a></th>
                    <td  align="right"><span><img id="img-work" src="{% static 'images/kit-logo.JPG' %}" class="img-responsive" alt="" /></span></td>
                  </tr>
                </table>

                <p><small class="text-muted">11/14 - 05/15</small></p>
                <p><strong>Bachelor thesis</strong> at the <a href="https://www.ipq.kit.edu/" target="_blank">IPQ</a> about automated optical SNR measurement and system characterization. Have a look at my <a href="https://drive.google.com/file/d/0B5BOoOTpHys7SjU2d2ZDdzdpVmM/preview" target="_blank">final talk</a> and <a href="https://drive.google.com/file/d/0B5BOoOTpHys7bVdMUFEyRldvQlU/preview" target="_blank">full thesis</a>.</p>
                <p>Build software and setup to perform the automated task. MATLAB, LabView and work with optical communication devices.</p>

                <hr style="border-bottom: 1px solid;">

                <table style="width:100%">
                  <tr>
                    <th><a href="https://www.kit.edu/english/" target="_blank">Karlsruhe Institute for Technology</a></th>
                    <td  align="right"><span><img id="img-work" src="{% static 'images/kit-logo.JPG' %}" class="img-responsive" alt="" /></span></td>
                  </tr>
                </table>
                <p><small class="text-muted">10/14 - 03/15</small></p>
                <p><strong>Tutor</strong> for a C/C++ laboratory at the <a href="http://www.itiv.kit.edu/english/index.php" target="_blank">ITIV</a>. Students learn in groups how to design algorithms to control a Segway and implement the software.</p>
                <p>Low-level programming such as GPIO, PWM and ADCs to control engines, sensors, battery and other in-/ and outputs.</p>

                <hr style="border-bottom: 1px solid;">

                <table style="width:100%">
                  <tr>
                    <th><a href="https://www.invenio.net/en/home/" target="_blank">invenio Engineers Karlsruhe GmbH</a></th>
                    <td  align="right"><span><img id="img-work" src="{% static 'images/invenio-logo.png' %}" class="img-responsive" alt="" /></span></td>
                  </tr>
                </table>
                <p><small class="text-muted">10/13 - 08/14</small></p>
                <p><strong>Working student</strong> on electric 1:5 car demonstrator controlled by Arduino microcontroller and Android App.</p>
                <p>C/C++, Java, design and implementation of hard-/software to control modules like steering, brakes, engine, distance sensors and light.</p>
            </div>
        </div>
{% endblock %}