.container {
    margin: auto;
    line-height: 1.5;
    font-size: 16px;
    font-family: Hind,sans-serif;
    padding: 5px;
}

.container .container {
    max-width: 95%;
    margin-bottom: -50px;
}

.container .section-header {
    padding-top: 55px;
}

.section-header {
    border-bottom: 1px solid;
}

.content-header {

}

#img-profile {
}

#img-work {
    height: 85px;
    width: auto;
}

.post {
    font-family: 'Lora', 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 100px;
}

.fa {
    color: #333;
}

.fa:hover {
    text-decoration: none;
    color: #9D9D9D;
}

.btn {
    background-color: #333;
    color: #9d9d9d;
}

.btn:hover {
    color: #fff;
}
