.container {
    padding-left: 60px;
    /*padding-right: 50px;*/
}

#img-profile {
    width: 400px;
    height: auto;
    border-radius: 80%;
}

#top {
    padding-top: 100px;
    font-size: large;
    height: auto;
}

#top p {
    font-size: 21px;
}

.content {
    font-size: large;
    text-align: center;
    padding-bottom: 20px;
}

.wrapper {
    padding: 3em 15px 3em 15px;
    text-align: center;
}

.next {
    text-align: center;
    padding-top: 50px;
    font-size: large;
}

.box-style {
    border: 1px solid #D4D4D4;
    border-radius: 2px;
    padding: 6px;
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.176);
}

.below {
    border: 1px solid #D4D4D4;
    border-radius: 2px;
    padding: 15px;
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.176);
}

.btn {
    font-size: large;
}

.post {
    font-family: 'Lora', 'Times New Roman', serif;
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 100px;
}

footer {
    display: block;
}

